@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #333;
  line-height: 1.4rem !important;
}

#root {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* background-color: #fffcd7; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid black;
  background-color: #fffcd7;
}

.logo {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-icon {
  display: none;
  cursor: pointer;
  top: 1.5rem;
  right: 2.1875rem;
  flex-direction: column;
  justify-content: space-between;
  height: 1.25rem;
  width: 1.5625rem;
  transition: transform 0.3s ease;
  z-index: 1001;
}

.bar {
  width: 100%;
  height: 0.1875rem;
  background-color: black;
  transition: 0.3s;
}

.bar1.toggle {
  transform: rotate(45deg) translate(6px, 6px);
}

.bar2.toggle {
  opacity: 0;
}

.bar3.toggle {
  transform: rotate(-45deg) translate(6px, -6px);
}

.nav-links {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 1rem;
  z-index: 1010;
}

.nav-links li {
  position: relative;
  margin: 0;
}

.nav-links li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 2;
}

.nav-links li a .text {
  color: #2565b0;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-links li a .underlay {
  position: absolute;
  left: 2px;
  top: -2px;
  color: #20b0b4;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
  transition: color 0.3s ease;
  width: 100%;
}

.nav-links li a:hover .text {
  color: #f48520;
}

.nav-links li a:hover .underlay {
  color: #ffd300;
}

.nav-links li a.active-link .text {
  color: #f48520;
}

.nav-links li a.active-link .underlay {
  color: #ffd300;
}

.nav-logo {
  width: 150px;
}

/* Donate button */

.primary-button {
  position: relative;
  border: none;
  color: #fffcd7;
  background-color: #20b0b4;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 20;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Add transform to transition */
  box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
  -webkit-box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
  -moz-box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
}

.primary-button:hover {
  background-color: #ffd300;
  box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  -webkit-box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  -moz-box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  cursor: pointer;
}

.primary-button:active {
  box-shadow: none;
  transform: translate(-6px, 4px); /* Use transform for smoother animation */
}

/* HomeHeader */

.page-header {
  display: flex;
  width: 100vw;
  /* height: 70%; */
}

.swiper {
  width: 100%;
  height: 70vh;
  margin-bottom: 40px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.header-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Swiper */

.swiper-pagination-bullet {
  height: 20px !important;
  width: 20px !important;
  background-color: #f48520 !important;
  border: 2px #333 solid;
  opacity: .5 !important;
}

.swiper-pagination-bullet:hover {
  opacity: 1 !important;
}

span .swiper-pagination-bullet {
  height: 20px !important;
  width: 20px !important;
  background-color: #ffd300 !important;
  opacity: 1 !important; /* Force full opacity */
}


/* Active bullet style */
.swiper-pagination-bullet-active {
  background-color: #ffd300 !important;
  opacity: 1 !important; /* Ensures active bullets are fully opaque */
}

.header-text {
  position: relative;
  text-align: center;
}

.hero-h2 {
  position: relative;
  font-size: 4em;
  text-transform: uppercase;
  color: #f48520;
  font-weight: 900;
  font-family: "Bagel Fat One", system-ui;
  line-height: 1.2;
  z-index: 20;
}

.header-underlay {
  position: absolute;
  font-weight: 900;
  font-family: "Bagel Fat One", system-ui;
  top: -14px; /* Aligns with hero-h2 */
  right: -6px;
  transform: translateY(0.1em); /* Offset slightly downward */
  color: #ffd300;
  z-index: 10;
  width: 100%; /* Match the hero-h2 width */
}

/* Hero button */
.hero-button {
  position: relative;
  margin-top: 40px;
  border: none;
  color: #fffcd7;
  background-color: #20b0b4;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 20;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
}

.hero-button:hover {
  background-color: #ffd300;
  box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  cursor: pointer;
}

.hero-button:active {
  box-shadow: none;
  transform: translate(-6px, 4px);
}

/* Home Container */

#homeCont {
  display: flex;
  justify-content: center;
}

/* Post Container - About */

.post-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-about-image {
  width: 48%;

  .post-image {
    width: 100%;
  }
}

.right-about-content {
  width: 48%;
  padding-right: 50px;
  padding-bottom: 30px;

  p {
    line-height: 1.6rem !important;
  }
}


.title {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Bagel Fat One", system-ui;
  color: #2565b0;
  margin-bottom: 1rem;
}

.quote-about {
  font-size: 1.8rem !important;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 2.2rem !important;
}

.about-subheader {
  font-size: 1.2rem !important;
  font-weight: 900 !important;
  margin-bottom: 1rem;
}

p {
  line-height: 20px;
  margin-bottom: 10px;
}

.header-section {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-h1 {
    position: relative;
    font-size: 4em;
    text-transform: uppercase;
    color: #f48520;
    font-weight: 900;
    font-family: "Bagel Fat One", system-ui;
    line-height: 1.2;
    z-index: 20;
  }
  
  .header-underlay-h1 {
    position: absolute;
    font-weight: 900;
    font-family: "Bagel Fat One", system-ui;
    top: -14px; /* Aligns with hero-h2 */
    right: -6px;
    transform: translateY(0.1em); /* Offset slightly downward */
    color: #ffd300;
    z-index: 10;
    width: 100%; /* Match the hero-h2 width */
  }
}

.back-button {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* Events Container */

.post-container-events {
  border: 8px solid #ffd300;
  background-color: #fffcd7;
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  box-shadow: -6px 6px 0px -2px #f48520;;
  -webkit-box-shadow: -6px 6px 0px -2px #f48520;;
  -moz-box-shadow: -6px 6px 0px -2px #f48520;;
}

.image-info {
  display: flex;
}

.image-left {
  width: 50%;
  margin-right: 1rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 11.5px;
    border-top-right-radius: 11.5px;
  }
}

.text-right {
  width: 50ch;
  padding: 1rem;
}

.event-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#eventsCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 3rem;

    h4 {
      position: relative;
      padding-left: 1rem;
      font-size: 2.5rem;
      letter-spacing: .2rem;
      font-family: "Bagel Fat One", system-ui;
      color:#2565b0;
      margin-bottom: 1rem;
  }

  .header-underlay-title {
    position: absolute;
    top: -4px;
    left: 4px;
    padding-left: 1rem;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    font-family: "Bagel Fat One", system-ui;
    color:#20b0b4;
    margin-bottom: 1rem;
}
  
}

/* Single Event Container */

.single-post-container {
  padding: 2rem;
}

.taxonomy-term-pill {
  margin-right: 10px;
  font-weight: 500;
}

/* Taxonomy page layout */

#eventsViaLocation {
  border: #20b0b4 5px solid;
  padding: 20px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.event-container-tax {
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.event-image {
  width: 100%;
  height: auto;
}

.name {
  margin: 10px 0;
  font-size: 1.2em;
  font-style: italic;
}

/* Sponsors Container */

.post-container-sponsors {
  border: 8px solid #ffd300;
  background-color: #fffcd7;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  box-shadow: -6px 6px 0px -2px #f48520;
  -webkit-box-shadow: -6px 6px 0px -2px #f48520;
  -moz-box-shadow: -6px 6px 0px -2px #f48520;
}

.image-info {
  display: flex;
}

.image-left {
  width: 50%;
  margin-right: 1rem;
}

.image-left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 11.5px;
  border-top-right-radius: 11.5px;
}

.sponsor-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#sponsorsCont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 3rem;
}

#sponsorsCont h4 {
  position: relative;
  padding-left: 1rem;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-family: "Bagel Fat One", system-ui;
  color: #2565b0;
  margin-bottom: 1rem;
}

.header-underlay-title {
  position: absolute;
  top: -4px;
  left: 4px;
  padding-left: 1rem;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-family: "Bagel Fat One", system-ui;
  color: #20b0b4;
  margin-bottom: 1rem;
}

em {
  line-height: 10px;
}

/* Footer */

footer {
  background-color: #2565b0;
  padding: 1rem;


  h4 {
    margin-bottom: 1rem;
    color: #fffcd7;
    font-size: 1.6rem;
  }
}

.social {
  display: flex;
  justify-content: space-around;
}

.left-footer {
  width: 20%;
}

.social a {
  color: #f48520; /* Default color */
  text-decoration: none; /* Remove underline */
  font-size: 2rem;
  padding-right: 1rem;
}

.social a:hover {
  color: #ffd300; /* Change color on hover */
}

.right-footer {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  img {
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
}

/* Cart */

.cart {
  padding: 20px;
}

.cart-number {
  position: relative;
  display: flex;
  align-items: center;

  .cart-span {
    position: absolute;
    left: 56px;
    top: -6px;
    background-color: rgb(255, 92, 92);
    color: rgb(0, 0, 0);
    padding: 0px 6px;
    border-radius: 50%;
    margin-left: 2px;
    font-size: 12px;
  }
  
}

/* Donation */

.donation {
  padding: 2rem;
  background-color: #fffcd7; /* Same background color as the rest */
  text-align: center;
}

.donation h1 {
  position: relative;
  font-size: 4em;
  text-transform: uppercase;
  color: #f48520;
  font-weight: 900;
  font-family: "Bagel Fat One", system-ui;
  line-height: 1.2;
  z-index: 20;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem auto;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
  color: #2565b0; /* Use the same color as the nav links */
  font-weight: 700; /* Bold for headings */
}

td {
  background-color: #fff;
}

/* Input styles */
input[type="number"],
select {
  width: 100%;
  padding: 10px; /* Increased padding for a better look */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px 0; /* Add spacing between inputs */
}

/* Button styles */
.donation button {
  background-color: #20b0b4; /* Match primary button color */
  color: #fffcd7;
  padding: 10px 20px;
  border: none;
  border-radius: 30px; /* Rounded similar to other buttons */
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.donation button:hover {
  background-color: #ffd300; /* Hover color */
  cursor: pointer;
}

.donation button:active {
  transform: translateY(2px); /* Slight click effect */
}

/* Products */

.products ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 20px;
  
  h2 {
    margin-bottom: 1rem;
  }
}

.products li {
  border: 8px solid #ffd300;
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  box-shadow: -6px 6px 0px -2px #f48520;;
  -webkit-box-shadow: -6px 6px 0px -2px #f48520;;
  -moz-box-shadow: -6px 6px 0px -2px #f48520;;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}

.products button {
  position: relative;
  border: none;
  color: #fffcd7;
  background-color: #20b0b4;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 20;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Add transform to transition */
  box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
  -webkit-box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
  -moz-box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
}

.products button:hover {
  background-color: #ffd300;
  box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  -webkit-box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  -moz-box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  cursor: pointer;
}

.products button:active {
  box-shadow: none;
  transform: translate(-6px, 4px); /* Use transform for smoother animation */
}

/* Cart CSS */
/* Cart Layout */
.cart ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 20px;
}

.cart li {
  border: 8px solid #ffd300;
  background-color: #ffffff;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  box-shadow: -6px 6px 0px -2px #f48520;
  -webkit-box-shadow: -6px 6px 0px -2px #f48520;
  -moz-box-shadow: -6px 6px 0px -2px #f48520;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}

.cart h2 {
  margin-bottom: 1rem;
}

.cart-item-image {
  width: 200px;
  height: 200px;
  margin: 1rem 0;
}

.cart-buttons button {
  margin: 0.5rem;
  padding: 10px 20px;
  border: none;
  color: #fffcd7;
  background-color: #20b0b4;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
}

.cart-buttons button:hover {
  background-color: #ffd300;
  box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  cursor: pointer;
}

.cart-buttons button:active {
  box-shadow: none;
  transform: translate(-6px, 4px);
}

/* Checkout Button */
.checkout-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  border: none;
  color: #fffcd7;
  background-color: #20b0b4;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.checkout-btn:hover {
  background-color: #ffd300;
  box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  cursor: pointer;
}

.checkout-btn:active {
  box-shadow: none;
  transform: translate(-6px, 4px);
}

/* Scoped styles for Contact Page */
#contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#contact-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

#contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #fff;
  border: 8px solid #ffd300;
  border-radius: 20px;
  box-shadow: -6px 6px 0px -2px #f48520;
  -webkit-box-shadow: -6px 6px 0px -2px #f48520;
  -moz-box-shadow: -6px 6px 0px -2px #f48520;
}

#contact-container form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact-container label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

#contact-container input,
#contact-container textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;
}

#contact-container input:focus,
#contact-container textarea:focus {
  border-color: #20b0b4;
  outline: none;
}

#contact-container textarea {
  height: 150px;
  resize: none;
}

#contact-container button.regular-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #20b0b4;
  color: #fffcd7;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: -4px 6px 0px -2px rgba(37, 101, 176, 1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

#contact-container button.regular-button:hover {
  background-color: #ffd300;
  box-shadow: -4px 6px 0px -2px rgba(244, 133, 32, 1);
  cursor: pointer;
}

#contact-container button.regular-button:active {
  box-shadow: none;
  transform: translate(-6px, 4px);
}

/* Success/Error Messages */
#contact-container h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

#contact-container p {
  font-size: 1rem;
  color: #333;
}


/* Loading Spinner */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ffd300;
  border-top-color: #f48520;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media (max-width: 1220px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .nav-links.active {
    display: flex;
    transform: translateY(0);
  }

  .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
  }

  .navbar.menu-open .menu-icon {
    position: fixed;
  }

  .nav-links li {
    margin: 1rem 0;
    text-align: center;
  }

  .text {
    position: relative;
    top: -.1rem !important;
    left: -0.03rem !important;
  }

  .nav-links li a .text {
    font-size: 1.8rem;
  }
  
  .nav-links li a .underlay {
    font-size: 1.8rem;
  }
}

@media (max-width: 960px) {

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .left-about-image {
      width: 80%;
    }

    .right-about-content {
      width: 65%;
    }
  }


  .image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-left {
    width: 90%;
    margin-right: 0rem;
    margin-bottom: 1rem;

    img {
      border-radius: 11.5px;
    }
  }
  
  .text-right {
    width: 90%;
    padding-right: 2rem;
    margin-bottom: 1rem;
  }
}
